# Vite build variables
VITE_SUPABASE_URL=""                            # public
VITE_SUPABASE_PUBLISHABLE_KEY=""                # public

# Supabase configurations
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID=""      # public
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET=""  # private

# Local
SUPABASE_URL=""
SUPABASE_AUTH_CALLBACK_URL=""